@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$pink: hsl(322, 100%, 66%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

a {
  &:link {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  padding: 0 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
  margin-bottom: 170px;

  @media only screen and (max-width: 991px) {
    padding: 25px 0;
    img {
      width: 125px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
  }
}

.cta-btn-solid {
  font-size: 20px;
  color: white;
  padding: 20px 75px;
  border: solid 1px $pink;
  border-radius: 50px;
  background: $pink;
  font-weight: 600;
  margin-bottom: 112px;
  box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(0, 37, 46, 0.17);
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: none;
    color: $pink;
    background: none;
  }

  @media only screen and (max-width: 991px) {
    padding: 15px 50px;
  }
}

.cta-btn-outline {
  padding: 7px 22px;
  border: solid 1px $pink;
  border-radius: 50px;
  color: $pink;
  font-size: 15px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $pink;
    color: #ffffff;
  }

  @media only screen and (max-width: 991px) {
    padding: 5px 22px;
    font-size: 13px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 3em;
  max-width: 1024px;

  h2 {
    font-size: 42px;
    margin-bottom: 30px;
    text-align: center;

    @media only screen and (max-width: 991px) {
      font-size: 27px;
    }
  }

  p {
    font-size: 18px;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
      width: 88%;
      font-size: 14px;
    }
  }

  img {
    width: 90%;
  }
}

.stats {
  padding: 4em 0;
  margin: 0 4em;

  @media only screen and (max-width: 991px) {
    margin: 0;
    padding-bottom: 0;
  }

  .communities,
  .messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media only screen and (max-width: 991px) {
      margin-bottom: 100px;
    }

    svg {
      align-self: flex-start;
    }

    h1 {
      font-size: 5em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;

      @media only screen and (max-width: 991px) {
        font-size: 4em;
      }
    }

    p {
      color: #888c8e;
      font-size: 22px;

      @media only screen and (max-width: 991px) {
        font-size: 16px;
      }
    }
  }
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  @media only screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media only screen and (max-width: 991px) {
    order: 2;
  }

  h3 {
    font-size: 36px;
    margin-bottom: 10px;

    @media only screen and (max-width: 991px) {
      font-size: 25px;
    }
  }

  p {
    font-size: 14px;
    max-width: 450px;

    @media only screen and (max-width: 991px) {
      width: 100%;
      margin: 0 auto;
      font-size: 18px;
    }
  }
}

.app-detail-1 {
  background-color: $pale-blue;
  position: relative;
  margin: 10em 0;
  padding: 4em 0;

  img {
    width: 500px;
  }

  @media only screen and (max-width: 527px) {
    padding: 5em 0;
  }

  @media only screen and (min-width: 2000px) {
    padding-top: 5em;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -175px;
    height: 175px;
    width: 100%;
    background: url(/images/bg-section-top-desktop-1.svg) no-repeat;
    background-size: cover;

    @media only screen and (max-width: 527px) {
      top: -125px;
      height: 125px;
      background: url(/images/bg-section-top-mobile-1.svg) no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width: 1800px) {
      top: -235px;
      height: 235px;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -135px;
    height: 135px;
    width: 100%;
    background: url(/images/bg-section-bottom-desktop-1.svg) no-repeat;
    background-size: cover;

    @media only screen and (max-width: 527px) {
      bottom: -80px;
      height: 80px;
      background: url(/images/bg-section-bottom-mobile-1.svg) no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width: 1500px) {
      bottom: -170px;
      height: 170px;
    }

    @media only screen and (min-width: 1800px) {
      bottom: -245px;
      height: 245px;
    }
  }
}

.app-detail-2 {
  margin: 6em 0;
  padding: 6em 0;

  img {
    width: 500px;
  }

  @media only screen and (max-width: 1024px) {
    padding-bottom: 170px;
  }

  @media only screen and (min-width: 1500px) {
    margin: 16em 0;
  }
}

.push-right {
  margin-left: 4em;

  @media only screen and (max-width: 991px) {
    margin-left: 0;
  }
}

.app-detail-3 {
  background-color: $pale-blue;
  margin: 10em 0;
  padding: 5em 0;
  position: relative;

  @media only screen and (max-width: 527px) {
    padding-bottom: 9em;
  }

  @media only screen and (min-width: 1500px) {
    margin-bottom: 220px;
  }

  img {
    width: 500px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -135px;
    height: 135px;
    width: 100%;
    background: url(/images/bg-section-top-desktop-2.svg) no-repeat;
    background-size: cover;

    @media only screen and (max-width: 527px) {
      background: url(/images/bg-section-top-mobile-2.svg) no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width: 1500px) {
      top: -200px;
      height: 200px;
    }

    @media only screen and (min-width: 2200px) {
      top: -245px;
      height: 245px;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -135px;
    height: 135px;
    width: 100%;
    background: url(/images/bg-section-bottom-desktop-2.svg) no-repeat;
    background-size: cover;

    @media only screen and (max-width: 527px) {
      background: url(/images/bg-section-bottom-mobile-2.svg) no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width: 1500px) {
      bottom: -170px;
      height: 170px;
    }

    @media only screen and (min-width: 2000px) {
      bottom: -235px;
      height: 235px;
    }
  }
}

.bottom-cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;

  h3 {
    font-size: 38px;
    margin-bottom: 35px;
    text-align: center;

    @media only screen and (max-width: 991px) {
      font-size: 30px;
    }
  }
}

.app-detail-1,
.app-detail-2,
.app-detail-3 {
  @media only screen and (max-width: 991px) {
    text-align: center;

    img {
      width: 90%;
      margin-bottom: 75px;
    }
  }
}

footer {
  background: $dark-cyan;
  color: #ffffff;
  font-size: 0.85em;
  font-weight: 400;
  padding: 75px 0;
  margin-top: 80px;
  position: relative;

  @media only screen and (min-width: 1500px) {
    margin-top: 200px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -150px;
    height: 150px;
    width: 100%;
    background: url(/images/bg-footer-top-desktop.svg) no-repeat;
    background-size: cover;

    @media only screen and (max-width: 1024px) {
      top: -150px;
      height: 150px;
      background: url(/images/bg-footer-top-mobile.svg) no-repeat;
      background-size: cover;
    }

    @media only screen and (max-width: 600px) {
      top: -50px;
      height: 50px;
      background: url(/images/bg-footer-top-mobile.svg) no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width: 1500px) {
      top: -225px;
      height: 225px;
    }

    @media only screen and (min-width: 2000px) {
      top: -260px;
      height: 260px;
    }
  }

  .footer-info {
    @media only screen and (max-width: 991px) {
      order: 2;
    }

    p {
      margin-top: 32px;
    }
  }

  .contact-info {
    padding: 25px 0;

    li {
      margin-bottom: 18px;

      svg {
        margin-right: 15px;
      }
    }
  }

  a {
    color: #ffffff;
  }

  ul {
    list-style: none;
  }

  ul li {
    display: flex;
    align-items: center;
  }

  .footer-info {
    max-width: 300px;

    .social-links a {
      font-size: 30px;
    }

    .social-links a:hover {
      color: #27bea7;
      cursor: pointer;
      transition: all 0.5s ease 0s;
    }

    .social-links a + a {
      margin-left: 20px;
    }
  }

  .newsletter {
    align-self: flex-start;
    @media only screen and (max-width: 991px) {
      order: 1;
    }
    p {
      margin-bottom: 40px;
      max-width: 332px;
    }

    h4 {
      font-size: 26px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      @media only screen and (max-width: 991px) {
        flex-direction: column;
      }
    }

    input[type='email'] {
      width: 315px;
      height: 45px;
      padding: 0.8em;
      margin-right: 15px;
      border-radius: 5px;
      border: none;
      font-size: 14px;

      @media only screen and (max-width: 991px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    input[type='submit'] {
      color: white;
      padding: 13px 32px;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      border-radius: 5px;
      background: $pink;
      font-weight: 600;
      border: none;
      text-align: center;
      cursor: pointer;
      justify-self: right;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $pink;
        background: #ffffff;
      }

      @media only screen and (max-width: 991px) {
        margin-bottom: 75px;
      }
    }
  }
}
